/* NAV BAR ***************************** */
header {
  width: 80%;
  margin: 0 auto;
}

nav > ul > li {
  display: inline;
}

.logo {
  float: left;
  margin-right: 5px;
}

.nav-subtitle {
  font-size: .5rem;
  letter-spacing: none;
  margin: 0;
}

.cursive-font {
  margin: 0;
}

.social-media-links {
  position: absolute;
  top: 0;
  right: 0;
}

nav {
  position: relative
}

.slash-border {
  display: block;
  margin: 20px auto;
  border: 0px;
  height: 10px;
  width: 80%;
  background-image: url(../img/hr-img.png);
}


/* ************************************************** */

main {
  border:2px solid blue;
  width: 80%; 
  margin: 0 auto
}

.main-photo{
  margin: 0 auto; 
  width: 100%;
}

p {
  border:2px solid red;
  width: 100%;
  margin:10px 0 10px 0;
}

.notepad {
  border:2px solid green;
  background-image:url(../img/list-bg.png);
  width:100%;
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:space-around;
}

.notepad ul li {
  border:2px solid red;
  margin:6px 0 6px 0;
}
